body{background-color: #6cbff0;}
main {
    margin-left: 20%;
    width: 60%;
}

header {
    display: flex;
    height: 35px;
    border: 1px solid black;
    border-radius: 20px;
    flex-direction: row;
    background-color: #f3f3f3;
}

#login-area {
    height: 25px;
    display: flex;
    padding: 5px;
    justify-content: space-around;

}

.loginDates{
    width: 20%;
}

a {
    padding: 10px;
}

main+section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

#topic {
    display: flex;
    border: 1px solid;
    margin-top: 20px;
    padding: 5px;
}

#topic-name {
    height: 20px;
    width: 22%;
}

#topic-header{
    display: flex;
    flex-wrap: wrap;
}

#post-Container {
    display: block;
    border: 1px solid;
    margin-top: 20px;
    padding: 10px;
    justify-content: space-around;
}

#post-line1{display: flex;
}
#post-line2{display: flex; }

#post-Message{
    min-height: 40px;
    width: 70%;
    margin-top: 10px;
}

#topic-container {
    display: block;
    border: 1px solid;
    margin-top: 20px;
    padding: 5px;

}

#showHideCommentsBtn {
    padding: 5px;
}

#hideCommentsBtn {
    margin-left: 10px;
}

#comments-field {
    width: 60%;
    float: right;
}

section {
    background-color: #f3f3f3;
    border-radius: 20px;
}

button {
    background-color: #6cbff0;
     height: 20px;
    color: black;
}

#newUserBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-left: 15px;
}

#password {
    margin-left: 15px;
}

form {
    height: 25px;
 }

#newTopicBtn {
    margin-left: 10%;
}

#topic-name {
    margin-left: 10%;
}

#newPostBtn{
    margin-top: 20px;
    margin-left: 10%;
}

#Category{display: flex;
    justify-content: flex-end;
    margin-left: 40%;
    height: 25px;

}

#post-Comment{
    width: 70%;
}

#newCommentBtn{
    margin-left: 10%;
}

#hideCommentsBtn, #showCommentsBtn{
    margin-left: 5%;
    background-color: #6cbff0;
    color: black;
}

#topic-text{
    color: blue;
    font-size: 10px;
}

#count{
    display: flex;
    justify-content: center;
    font-weight: bold;
    border: 1px solid;
    border-radius: 50%;
 
}
#user-name{
    color: red;
    font-size: 12px;
}

#post-area{
    display: flex;
}

#posted-Message{
    margin-left: 20px;
}

#voting-up{ 
    background-color: green;
    color: white;
    font-weight: bold;
}

#voting-down{
    background-color: red;
    color: white; 
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}


