section{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: center;
    padding: 20px;
}

button{
    width: 100px;
    height: 30px;
    margin-top: 30px;    
}